<a href="https://colab.research.google.com/github/zulqurtubia/DataMining3/blob/main/PreprocessingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import chardet

Numpy digunakan untuk komputasi numerik

matplotlib digunakan untuk grafik/

plotingPandas digunakan untuk memanggil file external dari csv, xlsx,txt, dll

In [ ]:
dataset = pd.read_csv('Data.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
print(x)
print(y)

[['Nanta' 44.0 72000.0]
 ['Aku' 27.0 48000.0]
 ['Saya' 30.0 54000.0]
 ['Admin' 38.0 61000.0]
 ['Kambing' 40.0 nan]
 ['Rudi' 35.0 58000.0]
 ['Soojin' nan 52000.0]
 ['Jihan' 48.0 79000.0]
 ['Leni' 50.0 83000.0]
 ['Ningnig' 37.0 67000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [ ]:
print(x)

[['Nanta' 44.0 72000.0]
 ['Aku' 27.0 48000.0]
 ['Saya' 30.0 54000.0]
 ['Admin' 38.0 61000.0]
 ['Kambing' 40.0 nan]
 ['Rudi' 35.0 58000.0]
 ['Soojin' nan 52000.0]
 ['Jihan' 48.0 79000.0]
 ['Leni' 50.0 83000.0]
 ['Ningnig' 37.0 67000.0]]

In [ ]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [ ]:
print(x)

[['Nanta' 44.0 72000.0]
 ['Aku' 27.0 48000.0]
 ['Saya' 30.0 54000.0]
 ['Admin' 38.0 61000.0]
 ['Kambing' 40.0 nan]
 ['Rudi' 35.0 58000.0]
 ['Soojin' nan 52000.0]
 ['Jihan' 48.0 79000.0]
 ['Leni' 50.0 83000.0]
 ['Ningnig' 37.0 67000.0]]

In [ ]:
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
ct =  ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [ ]:
print(x)

[['Nanta' 44.0 72000.0]
 ['Aku' 27.0 48000.0]
 ['Saya' 30.0 54000.0]
 ['Admin' 38.0 61000.0]
 ['Kambing' 40.0 nan]
 ['Rudi' 35.0 58000.0]
 ['Soojin' nan 52000.0]
 ['Jihan' 48.0 79000.0]
 ['Leni' 50.0 83000.0]
 ['Ningnig' 37.0 67000.0]]